$primary: #ffac33;

$body-bg-dark: #2a2a2a;
$body-secondary-bg-dark: #3a3a3a;
$dark: #1a1a1a;

@import "bootstrap/scss/bootstrap";

$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

$ts-pristine-bg: $input-bg;
$ts-select-bg: $input-bg;
$ts-tag-bg: $primary;
$ts-tag-color: $white;
$ts-tag-border: 1px solid darkene($primary, 10%);


@import "tom-select/src/scss/tom-select.bootstrap5";

* {
    color: #fff;
}

.ts-control input {
    color: #fff;
}

@font-face {
    font-family: Bigbesty;
    src: url('../fonts/Bigbesty.otf');
}

#logo-link img {
    transition: .7s;
}

#logo-link:hover img {
    transform: rotate(140deg);
}

.brand-name {
    font-family: Bigbesty;
    font-size: 2rem;
}

#movie {
    color: #fff;
}

#star {
    color: #ffac33;
}

hr {
    border-top: 2.5px dashed;
}